.b-story {
  border-top: gray solid 2px;
  margin: 5px;
  min-height: 100px;
  background-color: rgba(100,100,100,0.3);
}

.b-story__header {
  background-color: rgba(255,255,255,0.4);
  padding-left: 10px;
}

.b-story__title {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin-top: 4px;
  margin-left: 2px;
}

.b-story__title-edit {
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  min-width: 400px;
}

/* b-task */

.b-task {
  /*border: gray solid 2px;*/
  min-height: 70px;
  margin: 5px 0 5px 0;
  /*background-color: #eeeeee;*/
  background-color: rgba(255,255,255,0.7);
  padding-bottom: 3px;
  box-shadow: rgba(100,100,100,0.4) 3px 3px;
}

.b-task__title {
  text-align: center;
  cursor: pointer;
}

.b-task__title-edit {
  width: 100%;
}

.b-task__header {
  text-align: right;
}

.b-task__edit-form {
  padding: 0px 5px;
}

.b-task__edit-form {
  display: none;
}

.b-task.b-task_edit .b-task__title {
  display: none;
}

.b-task.b-task_edit .b-task__edit-form {
  display: block;
}


/* b-dashboard */

.b-dashboard {
  position: relative;
}

.b-dashboard__header {
  margin: 10px 0 10px 0;
  text-align: center;
  font-weight: bold;
}

.b-dashboard__decorator {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.b-dashboard__decorator-status {
  height: 100%;
  width: 33%;
  display: inline-block;
}

.b-dashboard__decorator-status[data-status="new"] {
  background-color: #ffeeee;
}

.b-dashboard__decorator-status[data-status="progress"] {
  background-color: #ffffaf;
}

.b-dashboard__decorator-status[data-status="done"] {
  background-color: #aaffaa;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
