.b-story {
  border: blue solid;
  min-height: 100px;
}

.b-task {
  border: green solid;
  min-height: 70px;
  margin: 5px 0 5px 0;
}

.b-dashboard-header {
  margin: 10px 0 10px 0;
  text-align: center;
}
